extends layout

block content
  .container
    h2 Home Page
    if usera
      p Welcome, #{usera}!
      a(href="/logout") Logout
    else
      p You are not logged in.
      a(href="/signin") -Login-
 