doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login Page

  body
    .container
      h2 Login Page
      form(id="loginForm", action="/signin", method="post")
        label(for="email") Email:
        input(type="text", id="email", name="email", required)
        br
        label(for="password") Password:
        input(type="password", id="password", name="password", required)
        br
        input(type="submit", value="Login")
        p dont have an account
        a(href="/signup") SignUp
